/* Custom Bancredito Styles */
.small-text {
	font-size: 0.9em;
}
.smaller-text {
	font-size: 0.8em;
}
.text-center {
	text-align: center;
}
.footer-text {
	margin: 0 auto;
	line-height: 1.5em;
	text-align: center;
}
.movimientos .item{
	padding: 0 16px;
}
.bar-subfooter .button-bar > .button{
	padding-left: 10px;
}